extend layout
block content
  p
    | Vivamus hendrerit arcu sed erat molestie
  p
    | Donec congue lacinia dui, a porttitor
    | lectus condimentum laoreet. Nunc eu
  - each post in posts
    .post__item
      .post__title= post.title
      .post__body= post.body 
block sidebar
  .widget
    h1 Sidebar
    p
      | Sed auctor neque eu tellus rhoncus ut
      | eleifend nibh porttitor. Ut in nulla enim.
    p
      | Vivamus hendrerit arcu sed erat molestie
      | vehicula.