extend layout

block content
  p
    | Last posts:

  - each post in posts
    .post__item
      .post__title= post.title
      .post__body= post.content

block sidebar
  .widget
    h1 Sidebar
    p
      | Sed auctor neque eu tellus rhoncus ut
      | eleifend nibh porttitor. Ut in nulla enim.
    p
      | Vivamus hendrerit arcu sed erat molestie
      | vehicula.