extend layout

block content
  p
    | Last posts:

  - each post in posts
    .post__item
      .post__title= post.title
      .post__body= post.content

block sidebar
  .widget
    h1 Recent posts
    - each post in posts
      p
        a(href="/post/#{post.id}")= post.title
