!!!
html
  head
    title #{title} - Blog
    link(rel='stylesheet', href='/css/style.css')
  body
    header
      h1 Simple Blog
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
      p Simple blog running on heroku, node with Express, Jade and Stylus