/*
 * Import nib
 */
@import 'nib'

/*
 * Nib provides a CSS reset
 */
global-reset()

main-color = #fa5b4d
background-color = #f1f1f1

body
  background-color background-color
  font-family: 'PT Serif';
  color #444

header
header a
  font-family 'Quicksand'
  padding 50px 10px
  color #fff
  text-decoration: none;
  font-size 25px
  text-align center

h1
  margin-bottom: 0.2em;
  color: #515151;
  font-weight: normal;
  font-size: 36px;
  font-family: 'Noto Serif';
  line-height: 1.2;

.container
  width 768px
  margin 24px auto
  overflow hidden

.main-content
  float left
  width 550px
  line-height: 30px;
  color: #444;
  font-size: 22px;
  font-weight: normal;

  p
    margin-bottom 20px

.sidebar
  float left
  width 200px

  .widget

    /*
     * Note the lack of vendor
     * prefixes here. Nib will
     * add them for us
     */
    border-radius 3px
    border 1px solid #ccc
    margin-left 20px
    background-color background-color
    box-shadow inset 0px 0px 0px 3px rgba(#fff, 0.8), 0px 3px 0px -2px rgba(#000, 0.1)

    h1
      font-size: 22px;
      font-family: 'Noto Serif';
      margin 13px 10px 4px
      padding-bottom 10px
      border-bottom 1px dotted #ddd
      border-radius 2px 2px 0px 0px
      margin-bottom 10px

    p
      font-size 13px
      padding 0px 10px
      margin-bottom 10px

p
  line-height 1.8

footer
  width 768px
  margin 50px auto
  border-top 1px dotted #ccc
  padding-top 5px
  font-size 13px

// .posts
.post__item
  margin: 20px 0;
.post__title
  margin-bottom: 1em;
  color: #515151;
  text-decoration: none;
  font-style: italic;
  font-size: 36px;
  font-family: 'Noto Serif';
  line-height: 1.2;
.post__body
  display: block;
  color: #444;
  font-weight: normal;
  font-size: 22px;
  line-height: 30px;

label
  display: block;
input
textarea
  box-sizing: border-box;
  width: 100%;
textarea
  height: 300px;
