extend ../layout

block content
  form(method="post", action="")
    div
      label(for="postTitle") Title:
      input(name="title", id="postTitle")
    div
      label(for="postContent") Content:
      textarea(name="content", id="postContent", rows="20")

    #postSubmit
      input(type="submit", value="Publish post")
