extend ../layout

block content
  form(method="post")
    div
      span Title:
      input(name="title", id="postTitle")
    div
      span Content:
      textarea(name="content", id="postContent", rows="20")

    #postSubmit
      input(type="submit", value="Send")
